<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- database connection -->
		<property name="dialect"> org.hibernate.dialect.MySQLDialect</property>
		
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ssh_edu</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.acquire_increment">2</property>
		<property name="c3p0.timeout">60000</property>
		
		<!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
		
		<mapping resource="cn/edu/ssh/entity/Person.hbm.xml" />
	</session-factory>
</hibernate-configuration>